extends layout

block content
  .container
    .photo-area
      if imgFile
        canvas#mainImage(width="90%")
      else
        .photo-area-drop 
          .photo-area-drop-text
            form(action="/fileupload" method="post" enctype="multipart/form-data")
              input(type="hidden" id="filename" name="filename" value="")
              input#imageUpload(type="file" accept=".jpg,.jpeg,.png" name="image" multiple)
              input#submitButton(type="submit")
              button.btn.btn-default#openImageUploadButton Load an image...    
    .floating-menu
      .menu-item.imageActionButton
          a(href="/")
            span.glyphicon.glyphicon-asterisk
      .menu-item.imageActionButton
          a#downloadImage
            span.glyphicon.glyphicon-download-alt
      .menu-item.imageActionButton
          a#blackWhiteFilter
            span.glyphicon.glyphicon-adjust

  script(src='javascripts/index.js')
  script(src='javascripts/filters.js')
  
  if(imgFile)
    script.
      loadToCanvas('./download/?f=#{imgFile}');