html, body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
  margin:0;
}

a {
  color: #00B7FF;
}

.container {
  height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
}

.photo-area {  
    background-color:white;
    flex: 1;
		text-align: center;
		color: white;
		font-family: sans-serif;
		font-size: 36px;
		padding: 20px;

		display: flex;
		flex-direction: column;
		justify-content: center;
  }

.photo-area-drop {
  border-width: 4px;
  border-color: gray;
  border-style: dashed;
  width:90%;
  height:90%;
  margin:auto;
  text-align: center;
  vertical-align: middle;
}

#mainImage{
  width:90%;
  border-width: 2px;
  border-style:solid;
  border-color:darkgoldenrod;
  margin:auto;
  text-align: center;
  vertical-align: middle;
}

.photo-area-drop-text {
  position: relative;
  top: 50%;
  left: 25%;
  right:25%;
  height: 50%;
  width: 50%;
}

#imageUpload{
  display:none;
}

#submitButton{
  display:none;
}

.menu-item{
  font-size:x-large;
  margin:5px;
}

.floating-menu
{
  position: absolute;
  top:10px;
  left:10px;
}

.floating-menu a{
  color:darkgray;
}

.imageActionButton {
  display:none;
}